body {
    font-family: 'Roboto', sans-serif;
}

/* Grid Container (make the actual grid) */
#grid-container {
    display: grid;
    float: right;
    height: 60vw;
    width: 60vw;
    border: 1px rgb(0, 0, 0) solid;
}

/* Cells (each cell in the grid) */
.cell {
    background-color: rgba(255, 255, 255, 1);
    border: 1px rgb(0, 0, 0) solid;
  }

.cell:hover {
    background-color: yellow;
}

/* Control Container */
#control-container {
    height: 50vw;
    width: 25vw;
    border: 1px black solid;
}